In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')
pd. set_option("display.max_columns", 35)

In [3]:
df=pd.read_csv('df_testi.csv',encoding = "ISO-8859-1")
df.head()

,Unnamed: 0,GroupName,PostType,ProfileName,Message
0,24261,523,1,Kedar Vedpathak,need augment reality mobile app developers fre...
1,121962,1628,0,&#x647;&#x627;&#x62c;&#x631; &#x642;&#x637;&#x...,anyone want travel egypt volunteer years old
2,36438,287,0,Sivaji Kottapalli,best time investment opportunity hyderabad res...
3,129470,287,0,Youandwe Planners,promotion post fashion freak organise event pl...
4,21385,1320,0,Muhammad Sajid Younis,contact trouble free car maintenance do recent...

In [4]:
## dataset shape 
print(f"{'shape of the dataset'.title()} :- {df.shape}")

## missing values
print(f"\n {'Number of null values in every column'.title()} \n {df.isnull().sum()}")

Shape Of The Dataset :- (101885, 5)

 Number Of Null Values In Every Column
 Unnamed: 0        0
GroupName         0
PostType          0
ProfileName     100
Message        6378
dtype: int64

In [5]:
df=df.dropna()

In [6]:
df.shape

(95408, 5)

In [7]:
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemma=WordNetLemmatizer()

In [8]:
stop_words = set(stopwords.words('english'))
for x in range(ord('b'), ord('z')+1):
    stop_words.add(chr(x))

In [9]:
#Preprocessing of Text data
def cleaning_data(row):
    row=row.lower()
    row=re.sub('[^a-zA-Z]',' ',row)
    tokens = word_tokenize(row)
    message = [lemma.lemmatize(word,pos="v") for word in tokens if not word in stop_words]
    cleaned_message=' '.join(message)
    
    return cleaned_message

In [10]:
df.Message=df.Message.apply(cleaning_data)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_vector = TfidfVectorizer(sublinear_tf=True,max_features=150918)
tf_vector.fit(df['Message'])

TfidfVectorizer(max_features=150918, sublinear_tf=True)

In [18]:
x = tf_vector.transform(df['Message'].ravel())

In [19]:
x.shape

(95408, 150918)

In [23]:
import joblib
model=joblib.load('DTCmodel.pkl')

In [24]:
pred=model.predict(x)

In [25]:
pred3=pd.DataFrame(pred,columns=['Label'])

In [26]:
pred3.to_csv('Preddtc.csv')